*{
    margin: 0;
    padding: 0;
}
/* 
    font-family: 'Inconsolata', monospace;
    font-family: 'Playfair Display', serif;
    font-family: 'Ubuntu', sans-serif;
 */

/* header part */
header{
    overflow: hidden;
    width: 90%;
    margin: 70px auto 110px;
}
.logo{
    width: 20%;
    float: left;
}
.logo img{
    
}
.menu{
    overflow: hidden;
    width: 60%;
    float: right;
}
.menu ul{
    list-style: none;
    float: right;
}
.menu ul li{
    float: left;
    margin-left: 30px;
}
.menu ul li a{
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 500;
}

/* banner part */
.banner{
    width: 90%;
    margin: auto;
}
.banner img{
    width: 100%;
}

/* content part */
.photodiary{
    width: 78%;
    margin: 70px 0px 100px 215px;
}
.photodiary h5{
    color: #b4ad9e;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.photodiary h1{
    color: #626262;
    font-size: 33px;
    margin-bottom: 24px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}
.photodiary p{
    color: #626262;
    font-size: 15px;
    margin-bottom: 45px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}
.photodiary a{
    color: #b4ad9e;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}